<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Scriboto App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Scriboto App User Interface</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Scriboto App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="startRecording" role="button">Start Recording</a>
            </p>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showResults" role="button">Show Latest Result</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Welcome!</h4>
                <p>When the patient walks in, please click the "Start Recording" button.  </p>

            </div>
 
        </div>
 
        <footer class="footer">
            <p>&copy; Scriboto 2018</p>
        </footer>
 
    </div>
</body>
 
</html>