<!DOCTYPE html>
<html>
<title>Scriboto Start</title>
<head><link rel="scriboto icon" href="../static/favicon.ico" /></head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif; font-weight: bold;}
body, html {height: 100%}
.bgimg {
    background-image: url('./static/doctor1.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.button {
    background-color: Gray; color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <!-- <img src="../static/scriboto_logo.png" alt="Scriboto Robot Logo" height="900" width="900"> -->
  </div>
  <div class="w3-display-middle"; style="text-align:center;">
    <h1 class="w3-jumbo w3-animate-top"; style="color:black;">SCRIBOTO</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center"; style="color:Black;">Press the "Start Recording" button when ready</p>
    <p><a class="button" href="startRecording" role="button">Start Recording</a>
    <p><a class="button" href="showResults" role="button">Show Latest Result</a>
  </div>
</div>

</body>
</html>
