<!DOCTYPE html>
<html>
<head><link rel="scriboto icon" href="../static/favicon.ico" /></head>
<title>Scriboto Start</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif; font-weight: bold;}
body, html {height: 100%}
.bgimg {
    background-image: url('./static/doctor1.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.button {
    background-color: Gray; color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
<script>
function myFunction() {
  document.getElementById("stop").style.display = "none";
  document.getElementById("listening").innerHTML="Scriboto is Processing";
}
</script>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Logo
  </div>
  <div class="w3-display-middle"; style="text-align:center;">
    <h1 class="w3-jumbo w3-animate-top"; style="color:black;">SCRIBOTO</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p id="listening" class="w3-large w3-center"; style="color:Black;">We are listening...</p>
    <p><a id="stop" onclick="myFunction()" class="button" href="stopRecording" role="button">Stop Recording</a>
  </div>
</div>

</body>
</html>
